.Burger {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    font-weight: 800;
    min-height: 400px;
    overflow-y: auto;
    max-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}